*{
	margin: 0;
	padding: 0;
}
.outer{
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,0.8);
	position: absolute;
	z-index: 1000;
	display: flex;
	justify-content: center;
	flex-direction:column;
	align-items:center;
}
.inner{
	width: 80%;
	background: #FFFFFF;
	border-radius: 0.1rem;
}
.progress {
  height: 30px;
  width: 0%;
  background-color: #79839C;
  box-shadow: inset 0 -0.02rem 0.02rem rgba(0, 0, 0, 0.4);
  border-radius: 0.1rem;
  display: block;
}
.num{
	position: absolute;
	left: 68%;
	top: 52%;
	font-size: 0.6rem;
	color: red;
	font-family: "微软雅黑";
}
.slide_1{
	background: url(../img/p1_bc.png);
	background-size: cover;
	position: relative;
}
.slide_1_liuxing p{
	position: absolute;
}
.slide_1_liuxing p img{
	display: inline-block;
}
.slide_1_lx1{
	right: -36%;
	top: 26%;
	-webkit-animation: lx1 2s linear infinite both;
}
.slide_1_lx1 img{
	width: 2.45rem;
	height: 3.99rem;
}
@-webkit-keyframes lx1{
	from{right: -36%;top: 26%;,-webkit-transform: scale(5);}
	to{right: 100%;top: 80%;,-webkit-transform: scale(1);}
}
.slide_1_lx2{
	right: -36%;
	top: 60%;
	-webkit-animation: lx2 2s linear infinite both;
}
.slide_1_lx2 img{
	width: 4.99rem;
	height: 2.28rem;
}
@-webkit-keyframes lx2{
	from{right: -36%;top: 60%;,-webkit-transform: scale(5);}
	to{right: 100%;top: -5%;,-webkit-transform: scale(1);}
}
.slide_1_lx3{
	left: -29%;
	top: 17%;
	-webkit-animation: lx3 2s linear infinite both;
}
.slide_1_lx3 img{
	width: 2.75rem;
	height: 2.27rem;
}
@-webkit-keyframes lx3{
	from{left: -29%;top: 17%;,-webkit-transform: scale(5);}
	to{left: 100%;top: 80%;,-webkit-transform: scale(1);}
}
.slide_1_lx4{
	left: 16%;
	top: 62%;
	z-index: 5;
}
.slide_1_lx4 img{
	width: 3.28rem;
	height: 2.33rem;
}
.slide_1_lx5{
	left: 7%;
	top: 48%;
}
.slide_1_lx5 img{
	width: 10.34rem;
	height: 8.12rem;
}
.slide_1_zuhe p{
	position: absolute;
}
.slide_1_zuhe p img{
	display: inline-block;
}
.slide_1_zh1{
	left: 15%;
	top: 35%;
	z-index: 10;
}
.slide_1_zh1 img{
	width: 5.1rem;
	height: 3.08rem;
}
.slide_1_zh2{
	left: 15%;
	top: 19%;
}
.slide_1_zh2 img{
	width: 2.45rem;
	height: 5.22rem;
}
.slide_1_zh3{
	left: 15%;
	top: 19%;
}
.slide_1_zh3 img{
	width: 5.1rem;
	height: 5.18rem;
}
.slide_1_zh4{
	left: 51%;
	top: 19%;
}
.slide_1_zh4 img{
	width: 0.65rem;
	height: 2.75rem;
}
.slide_1_zh5{
	left: 41%;
	top: 19%;
	z-index: 11;
}
.slide_1_zh5 img{
	width: 1.39rem;
	height: 4.49rem;
}
.slide_1_zh6{
	left: 31%;
	top: 28%;
}
.slide_1_zh6 img{
	width: 1.27rem;
	height: 2.72rem;
}
.slide_1_zh7{
	left: 15%;
	top: 32%;
}
.slide_1_zh7 img{
	width: 1.1rem;
	height: 1.48rem;
}
.slide_1_zh8{
	left: 18%;
	top: 33%;
}
.slide_1_zh8 img{
	width: 0.65rem;
	height: 1.1rem;
}
.slide_1_zh9{
	left: 31%;
	top: 33%;
	z-index: 15;
}
.slide_1_zh9 img{
	width:3.80rem;
	height:3.33rem;
}
.slide_1_zh10{
	left: 41%;
	top: 33%;
	z-index: 15;
}
.slide_1_zh10 img{
	width:0.69rem;
	height:1.49rem;
}
.slide_1_zh11{
	left: 34%;
	top: 51%;
	z-index: 15;
}
.slide_1_zh11 img{
	width:3.74rem;
	height:0.68rem;
}
.slide_1_2015{
	margin-top: 126%;
	text-align: center;
	position: relative;
	z-index: 5;
}
.slide_1_2015 img{
	display: inline-block;
	width: 4.16rem;
	height: 1.71rem;
}
.slide_music{
	position: absolute;
	right: 4%;
	bottom: 1%;
	z-index: 100;
}
.slide_music img{
	display: inline-block;
	width: 0.7rem;
	height: 0.7rem;
}
.music_rotate{
	-webkit-animation: crycle 2s linear infinite;
}
@-webkit-keyframes crycle{
	from{-webkit-transform: rotate(0deg);}
	to{-webkit-transform: rotate(360deg);}
}
.slide_jiantou{
	position: absolute;
	left: 45%;
	bottom: 0%;
	-webkit-animation: move 1s linear infinite;
}
.slide_jiantou img{
	display: inline-block;
	width: 0.64rem;
	height: 0.25rem;
}
@-webkit-keyframes move{
	from{bottom: -1%;}
	to{bottom: 2%;}
}
.slide_2{
	background: url(../img/p2_bc.png);
	background-size: cover;
	position: relative;
}
#box{
	width: 6.4rem;
	height:10.34rem;
	position: absolute;
	left: 0%;
	top: 1rem;
	margin: -6% 0 0 8%;
}
#box img{
	width: 6.4rem;
	height:10.34rem;
	position: absolute;
	left: 0;
	top: 0;
	display: none;
}
#box img:first-child{
	display: block;
}
.slide_2_text1{
	position: absolute;
	left:19%;
	bottom: 21%;
}
.slide_2_text1 img{
	display: inline-block;
	width: 4.58rem;
	height: 0.66rem;
}
.slide_2_text2{
	position: absolute;
	left:3%;
	bottom:12%;
}
.slide_2_text2 img{
	display: inline-block;
	width: 7.1rem;
	height: 1.04rem;
}
.slide_3{
	background: url(../img/p2_bc.png);
	background-size: cover;
}
.slide_3_fudong p{
	position: absolute;
}
.slide_3_fudong p img{
	display: inline-block;
}
.slide_3_fd1{
	left: 25%;
	top: 9%;
	-webkit-animation: fd1 2s linear infinite alternate;
}
.slide_3_fd1 img{
	width: 0.82rem;
	height: 0.89rem;
}
@-webkit-keyframes fd1{
	from{left: 25%;top: 9%;-webkit-transform: rotate(0deg);}
	to{left: 27%;top: 11%;-webkit-transform: rotate(10deg);}
}
.slide_3_fd2{
	right: 7%;
	top: 32%;
	-webkit-animation: fd2 2s linear infinite alternate;
}
.slide_3_fd2 img{
	width: 0.76rem;
	height: 0.94rem;
}
@-webkit-keyframes fd2{
	from{right: 7%;top: 32%;-webkit-transform: rotate(0deg);}
	to{right: 5%;top:29%;-webkit-transform: rotate(10deg);}
}
.slide_3_fd3{
	left: 17%;
	bottom: 10%;
	-webkit-animation: fd3 2s linear infinite alternate;
}
.slide_3_fd3 img{
	width: 0.68rem;
	height: 0.84rem;
}
@-webkit-keyframes fd3{
	from{left: 17%;bottom: 10%;}
	to{left: 16%;bottom: 12%;}
}
.slide_3_fd4{
	left: 50%;
	top: 12%;
	-webkit-animation: fd4 2s linear infinite alternate;
}
.slide_3_fd4 img{
	width: 3.55rem;
	height: 3.26rem;
}
@-webkit-keyframes fd4{
	from{left: 50%;top: 13%;}
	to{left: 48%;top: 9%;}
}
.slide_3_fd5{
	left: 2%;
	top: 22%;
	-webkit-animation: fd5 2s linear infinite alternate;
}
.slide_3_fd5 img{
	width:3.35rem;
	height: 2.79rem;
}
@-webkit-keyframes fd5{
	from{left: 2%;top: 22%;}
	to{left: 5%;top: 27%;}
}
.slide_3_fd6{
	left: 36%;
	top: 37%;
	-webkit-animation: fd6 2s linear infinite alternate;
}
.slide_3_fd6 img{
	width: 4.73rem;
	height: 3.21rem;
}
@-webkit-keyframes fd6{
	from{left: 36%;top: 37%;}
	to{left: 38%;top: 43%;}
}
.slide_3_fd7{
	left: 3%;
	bottom: 17%;
	-webkit-animation: fd7 2s linear infinite alternate;
}
.slide_3_fd7 img{
	width: 3.87rem;
	height: 2.89rem;
}
@-webkit-keyframes fd7{
	from{left: 3%;bottom: 17%;}
	to{left: 5%;bottom: 21%;}
}
.slide_3_fd8{
	right: 8%;
	bottom: 7%;
	-webkit-animation: fd8 2s linear infinite alternate;
}
.slide_3_fd8 img{
	width: 3.02rem;
	height: 2.51rem;
}
@-webkit-keyframes fd8{
	from{right: 6%;bottom: 7%;}
	to{right: 8%;bottom: 11%;}
}
.slide_4{
	background: url(../img/p4_bc.png);
	background-size: cover;
	position: relative;
}
.slide_4_text span{
	display: block;
	font-size: 26px;
	color: #fff;
	font-family: "华文彩云";
	position: absolute;
	z-index: 200;
}
.slide_4_text1{
	left: 39%;
	top: 32%;
}
.slide_4_text2{
	left:30%;
	top: 39%;
}
.slide_4_jihe img,.slide_4_ren img{
	position: absolute;
	left: 3rem;
	top: 5.82rem;
	width:0rem;
	height: 0rem;
	display: none;
	z-index: 100;
}
.slide_4_xian{
	position: absolute;
	left:0;
	top:0;
}
.slide_4_xian img{
	display: inline-block;
	width: 100%;
	height:100%;
}
.slide_4_dianji,.slide_5_dj{
	position: absolute;
	overflow: hidden;
	z-index: 200;
	width: 3.48rem;
	height: 0.83rem;
}
.slide_4_dianji{
	left: 44%;
	bottom: 11%;
}
.slide_4_dianji img,.slide_5_dj img{
	float: left;
}
.slide_4_hand{
	width: 0.43rem;
	height: 0.68rem;
}
.slide_4_dream{
	width: 2.53rem;
	height: 0.53rem;
	margin: 5% 0 0 3%;
}
#outer{
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	z-index:500;
	display: none;
}
.slide{
	text-align: center;
	width: 100%;
		
}
.slide>img{
	display: inline-block;
	margin-top: 5rem;
	-webkit-transform: scale(0);
	-webkit-animation: scale1 1s linear 0s normal forwards;
}
@-webkit-keyframes scale1{
	from{-webkit-transform: scale(0)}
	to{-webkit-transform: scale(1)}
}
@-webkit-keyframes scale2{
	from{-webkit-transform: scale(1)}
	to{-webkit-transform: scale(0)}
}
.slide>p:nth-of-type(1){
	margin-top: 0.3rem;
	color: #fff;
	font-size:30px;
	text-align: center;
}
.slide>p:nth-of-type(2){
	margin-top: 0.2rem;
}
.slide>p:nth-of-type(2) span{
	width: 100%;
	margin-top: 0.1rem;
	display: block;
	color: #fff;
	font-size: 18px;
	text-align: center;
}
.slide_4_close{
	position: absolute;
	left: 73%;
	top: 12%;
	z-index: 500;
	display: none;
}
.slide_4_close img{
	display: inline-block;
	width: 1.18rem;
	height: 0.88rem;
}
.slide_5{
	background: url(../img/p5_bc.png);
	background-size:cover;
	position: relative;
}
.slide_5_dj{
	left: 2%;
	bottom: 20%;
}
.slide_5_text{
	position: absolute;
	left: 0.84rem;
	top: 1.4rem;
	z-index: 10;
}
.slide_5_text img{
	display: block;
	width: 2.83rem;
	height: 1.77rem;
}
.slide_5_m p{
	position: absolute;
	display: none;
	z-index: 100;
	-webkit-transform: translate(0,0);
}
.slide_5_m p img{
	display: inline-block;
	width:1.77rem;
	height:2.16rem;
}
@-webkit-keyframes  translate1{
	from{-webkit-transform: translate(0,0);}
	to{-webkit-transform: translate(-0.18rem,-0.45rem);}
}
.slide_5_shadow img{
	opacity: 0;
	width: 3.34rem;
	height: 2.76rem;
	position: absolute;
}
@-webkit-keyframes opacity1{
    0%{
    	opacity:0;
    }
    100%{
    	opacity:1;
    }
}
@-webkit-keyframes opacity2{0%{opacity: 1;}100%{opacity: 0;}}
.slide_5_m1{
	top: 7.7rem;
	left: 0.2rem;
}
.yingzi1{
	top: 7.15rem;
	left: -1.27rem;
}
.slide_5_m2{
	top: 3.05rem;
	left: 0.32rem;
}
.yingzi2{
	top: 2.5rem;
	left: -1.19rem;
}
.slide_5_m3{
	top: 2.43rem;
	left: 3.82rem;
}
.yingzi3{
	top: 1.9rem;
	left: 2.35rem;
}
.slide_5_m4{
	top: 3rem;
	left:5.9rem;
}
.yingzi4{
	top: 2.43rem;
	left:4.4rem;
}
.slide_5_m5{
	top:5.1rem;
	left: 2rem;
}
.yingzi5{
	top:4.57rem;
	left: 0.5rem;
}
.slide_5_m6{
	top: 5.7rem;
	left: 4.07rem;
}
.yingzi6{
	top: 5.05rem;
	left: 2.6rem;
}
.slide_5_m7{
	top: 7.62rem;
	left: 5.7rem;
}
.yingzi7{
	top: 7.05rem;
	left: 4.2rem;
}
.slide_5_m8{
	top: 8.6rem;
	left: 3.3rem;
}
.yingzi8{
	top: 8rem;
	left: 1.8rem;
}
.slide_5_m9{
	top: 10.6rem;
	left: 4.9rem;
}
.yingzi9{
	top: 9.95rem;
	left: 3.45rem;
}
.slide_5_m10{
	top: 11.2rem;
	left: 1.47rem;
}
.yingzi10{
	top: 10.63rem;
	left: -0.03rem;
}
.slide_5_jieshao>img{
	position: absolute;
	-webkit-transform: scale(0,0);
	display: inline-block;
	width: 6.56rem;
	height: 10rem;
	z-index: 200;
}
.slide_5_men1{
	left: -2.3rem;
    top: 3.7rem;
}
.slide_5_men2{
	left: -2.3rem;
    top: -1rem;
}
.slide_5_men3{
	left: 1.3rem;
    top: -1.8rem;
}
.slide_5_men4{
	left: 3.3rem;
    top: -1.1rem;
}
.slide_5_men5{
	left: -0.7rem;
    top: 1.2rem;
}
.slide_5_men6{
	left: 1.5rem;
    top: 1.8rem;
}
.slide_5_men7{
	left: 3rem;
    top: 3.7rem;
}
.slide_5_men8{
	left: 0.8rem;
    top: 4.5rem;
}
.slide_5_men9{
	left: 2.5rem;
    top: 6.5rem;
}
.slide_5_men10{
	left: -1.1rem;
    top: 6.9rem;
}
.close{
	position: absolute;
	left:5.9rem;
	top: 1.3rem;
	z-index: 250;
	display:none;
}
.close img{
	display: inline-block;
	width: 1.21rem;
	height: 0.95rem;
}
@-webkit-keyframes show1{0%{-webkit-transform: rotate(30deg) scale(0,0) translate(0,0);}100%{-webkit-transform: rotate(0deg) scale(1,1) translate(2.8rem,-2.1rem);}}
@-webkit-keyframes show2{0%{-webkit-transform: rotate(30deg) scale(0,0) translate(0,0);}100%{-webkit-transform: rotate(0deg) scale(1,1) translate(2.8rem,2.6rem);}}
@-webkit-keyframes show3{0%{-webkit-transform: rotate(30deg) scale(0,0) translate(0,0);}100%{-webkit-transform: rotate(0deg) scale(1,1) translate(-0.9rem,3.5rem);}}
@-webkit-keyframes show4{0%{-webkit-transform: rotate(30deg) scale(0,0) translate(0,0);}100%{-webkit-transform: rotate(0deg) scale(1,1) translate(-2.8rem,2.6rem);}}
@-webkit-keyframes show5{0%{-webkit-transform: rotate(30deg) scale(0,0) translate(0,0);}100%{-webkit-transform: rotate(0deg) scale(1,1) translate(1.15rem,0.3rem);}}
@-webkit-keyframes show6{0%{-webkit-transform: rotate(30deg) scale(0,0) translate(0,0);}100%{-webkit-transform: rotate(0deg) scale(1,1) translate(-1.1rem,-0.2rem);}}
@-webkit-keyframes show7{0%{-webkit-transform: rotate(30deg) scale(0,0) translate(0,0);}100%{-webkit-transform: rotate(0deg) scale(1,1) translate(-2.5rem,-2.2rem);}}
@-webkit-keyframes show8{0%{-webkit-transform: rotate(30deg) scale(0,0) translate(0,0);}100%{-webkit-transform: rotate(0deg) scale(1,1) translate(-0.3rem,-3rem);}}
@-webkit-keyframes show9{0%{-webkit-transform: rotate(30deg) scale(0,0) translate(0,0);}100%{-webkit-transform: rotate(0deg) scale(1,1) translate(-2rem,-5rem);}}
@-webkit-keyframes show10{0%{-webkit-transform: rotate(30deg) scale(0,0) translate(0,0);}100%{-webkit-transform: rotate(0deg) scale(1,1) translate(1.55rem,-5.3rem);}}
@-webkit-keyframes hide1{0%{-webkit-transform: rotate(0deg) scale(1,1) translate(-0.9rem,4rem);}100%{-webkit-transform: rotate(30deg) scale(0,0) translate(0,0);}}
@-webkit-keyframes hide2{0%{-webkit-transform: rotate(0deg) scale(1,1) translate(-2.9rem,3.25rem);}100%{-webkit-transform: rotate(30deg) scale(0,0) translate(0,0);}}
@-webkit-keyframes hide3{0%{-webkit-transform: rotate(0deg) scale(1,1) translate(2.8rem,3.25rem);}100%{-webkit-transform: rotate(30deg) scale(0,0) translate(0,0);}}
@-webkit-keyframes hide4{0%{-webkit-transform: rotate(0deg) scale(1,1) translate(1.15rem,1.1rem);}100%{-webkit-transform: rotate(30deg) scale(0,0) translate(0,0);}}
@-webkit-keyframes hide5{0%{-webkit-transform: rotate(0deg) scale(1,1) translate(-1.1rem,0.5rem);}100%{-webkit-transform: rotate(30deg) scale(0,0) translate(0,0);}}
@-webkit-keyframes hide6{0%{-webkit-transform: rotate(0deg) scale(1,1) translate(-2.55rem,-1.5rem);}100%{-webkit-transform: rotate(30deg) scale(0,0) translate(0,0);}}
@-webkit-keyframes hide7{0%{-webkit-transform: rotate(0deg) scale(1,1) translate(-0.35rem,-2.2rem);}100%{-webkit-transform: rotate(30deg) scale(0,0) translate(0,0);}}
@-webkit-keyframes hide8{0%{-webkit-transform: rotate(0deg) scale(1,1) translate(2.75rem,-1.5rem);}100%{-webkit-transform: rotate(30deg) scale(0,0) translate(0,0);}}
@-webkit-keyframes hide9{0%{-webkit-transform: rotate(0deg) scale(1,1) translate(1.55rem,-4.4rem);}100%{-webkit-transform: rotate(30deg) scale(0,0) translate(0,0);}}
@-webkit-keyframes hide10{0%{-webkit-transform: rotate(0deg) scale(1,1) translate(-2.1rem,-4.3rem);}100%{-webkit-transform: rotate(30deg) scale(0,0) translate(0,0);}}
.slide_5_close{
	position: absolute;
	left: 5.5rem;
	top:-0.2rem;
}
.slide_5_close img{
	display: block;
	width: 1.21rem;
	height: 0.95rem;
}
.slide_6{
	background: url(../img/p6_bc.png);
	background-size: cover;
	position: relative;
}
.slide_6_sanjiaoti p{
	position: absolute;
	display: none;
}
.slide_6_sanjiaoti p img{
	display: inline-block;
}
.slide_6_s1{
	left: -2%;
	top: 6%;
}
.slide_6_s1 img{
	width: 0.72rem;
	height: 1.06rem;
}
@-webkit-keyframes s1{
	0%{
		left:100% ;
		top: 10%;
		-webkit-transform: scale(5);
	}
	25%{
		left:75% ;
		top: 9%;
		-webkit-transform: scale(4);
	}
	50%{
		left:50% ;
		top: 8%;
		-webkit-transform: scale(3);
	}
	75%{
		left:25% ;
		top: 7%;
		-webkit-transform: scale(2);
	}
	100%{
		left:-2% ;
		top: 6%;
		-webkit-transform: scale(1);
	}
}
.slide_6_s2{
	left: 4%;
	top: 8%;
}
.slide_6_s2 img{
	width: 2.73rem;
	height: 2.22rem;
}
@-webkit-keyframes s2{
	0%{
		left:-36% ;
		top: 48%;
		-webkit-transform: scale(5);
	}
	25%{
		left:-26% ;
		top: 38%;
		-webkit-transform: scale(4);
	}
	50%{
		left:-16% ;
		top: 28%;
		-webkit-transform: scale(3);
	}
	75%{
		left:-6% ;
		top: 18%;
		-webkit-transform: scale(2);
	}
	100%{
		left:4% ;
		top: 8%;
		-webkit-transform: scale(1);
	}
}
.slide_6_s3{
	left: 25%;
	top: 6%;
	z-index: 5;
}
.slide_6_s3 img{
	width: 2.72rem;
	height: 2.48rem;
}
@-webkit-keyframes s3{
	0%{
		left:125% ;
		top: 26%;
		-webkit-transform: scale(5);
	}
	25%{
		left:100% ;
		top: 21%;
		-webkit-transform: scale(4);
	}
	50%{
		left:75% ;
		top: 16%;
		-webkit-transform: scale(3);
	}
	75%{
		left:50% ;
		top: 11%;
		-webkit-transform: scale(2);
	}
	100%{
		left:25% ;
		top: 6%;
		-webkit-transform: scale(1);
	}
}
.slide_6_s4{
	left: 50%;
	top: 7%;
}
.slide_6_s4 img{
	width: 2.95rem;
	height: 2.09rem;
}
@-webkit-keyframes s4{
	0%{
		left:10% ;
		top: 47%;
		-webkit-transform: scale(5);
	}
	25%{
		left:20% ;
		top: 38%;
		-webkit-transform: scale(4);
	}
	50%{
		left:30% ;
		top: 28%;
		-webkit-transform: scale(3);
	}
	75%{
		left:40% ;
		top: 18%;
		-webkit-transform: scale(2);
	}
	100%{
		left:50% ;
		top: 8%;
		-webkit-transform: scale(1);
	}
}
.slide_6_s5{
	left: 95%;
	top: 7%;
}
.slide_6_s5 img{
	width: 0.68rem;
	height: 0.83rem;
}
@-webkit-keyframes s5{
	0%{
		left:-5% ;
		top: 11%;
		-webkit-transform: scale(5);
	}
	25%{
		left:20% ;
		top: 10%;
		-webkit-transform: scale(4);
	}
	50%{
		left:45% ;
		top: 9%;
		-webkit-transform: scale(3);
	}
	75%{
		left:70% ;
		top: 8%;
		-webkit-transform: scale(2);
	}
	100%{
		left:95% ;
		top: 7%;
		-webkit-transform: scale(1);
	}
}
 
.slide_6_change{
	margin-top: 22%;
	text-align: center;
	font-size: 28px;
	color: #fff;
	font-family: "华文彩云";
	font-weight: bold;
	position: relative;
	z-index: 100;
}
.slide_6_8wei{
	margin-top: 15%;
	text-align: center;
	position: relative;
}
.slide_6_8wei img{
	display: inline-block;
	width: 4.46rem;
	height: 1.01rem;
}
.slide_6_rencai p{
	position: absolute;
}
.slide_6_rencai p img{
	display: inline-block;
}
.slide_6_gao{
	left: 22%;
	top: 41%;
}
.slide_6_gao img{
	width: 2.11rem;
	height: 2.51rem;
}
.slide_6_hua{
	right: 23%;
	top: 37%;
}
.slide_6_hua img{
	width: 1.7rem;
	height: 1.96rem;
}
.slide_6_tu{
	left: 16%;
	top: 61%;
}
.slide_6_tu img{
	width: 2.5rem;
	height: 2.1rem;
}
.slide_6_xing{
	right: 17%;
	top: 53%;
}
.slide_6_xing img{
	width:2.1rem;
	height: 2.61rem;
}
.slide_6_jiang{
	left: 25%;
	top: 78%;
}
.slide_6_jiang img{
	width: 1.7rem;
	height: 1.7rem;
}
.slide_6_wang{
	right: 23%;
	top: 74%;
}
.slide_6_wang img{
	width: 1.81rem;
	height: 2.2rem;
}
.slide_7{
	background: url(../img/p7_bc.png);
	background-size:cover;
	position: relative;
}
.slide_7_yuanquan img{
	display: inline-block;
	width: 100%;
	height: 1.28rem;
}
.slide_7_sanbu{
	margin: -2% auto 0;
	width: 100%;
	height: 0.8rem;
	text-align: center;
	font-size: 30px;
	color: #fff;
	font-family: "华文彩云";
}
.slide_7_didian{
	margin-top: 4%;
	height: 0.62rem;
}
.slide_7_didian p{
	text-align: center;
	font-size: 11px;
	color: #fff;
}
.slide_7_S{
	margin: 8% auto 0;
	width: 4.23rem;
	display: none;
}
.slide_7_S img{
	display:block;
	width: 4.23rem;
	height:8.34rem;
}
.slide_7_yi p{
	position: absolute;
}
.slide_7_yi p span{
	display:block;
	height: 0.3rem;
	margin-top:0.05rem ;
	color: #fff;
	font-size: 13px;
}
.slide_7_yichang{
	top: 36%;
	right: 3%;
	width: 5rem;
}
.slide_7_yibei{
	top: 57%;
	left: 11%;
	width: 4.6rem;
}
.slide_7_yiye{
	top: 77%;
	right: 19%;
	width:3.7rem;
}
.slide_7_sanjiao1{
	position: absolute;
	left: 6%;
	top: 4%;
	-webkit-animation: move1 2s linear infinite;
}
.slide_7_sanjiao1 img{
	display: inline-block;
	width: 0.57rem;
	height: 0.4rem;
}
@-webkit-keyframes move1{
	from{left: 6%;top: 4%;}
	to{left: 8%;top: 6%;}
}
.slide_8{
	background: url(../img/p2_bc.png);
	background-size:cover;
	position: relative;
}
.slide_8_sanjiao img{
	position: absolute;
	display:none;
}
.p8-1{
	width: 2.7rem;
	height: 2.25rem;
    top: 4rem;
    left: 5.8rem;
    z-index: 5;
}
.p8-2{
	width: 2.6rem;
	height: 2.25rem;
    top: 0.28rem;
    left: -1rem;
}
.p8-3{
	width: 0.48rem;
	height:1.06rem ;
    top: 0.3rem;
    left: -1rem;
}
.p8-4{
    top: -0.5rem;
    right: -1rem;
    width: 0.85rem;
    height: 1.45rem;
}
.p8-5{
    width: 0.83rem;
    height: 0.81rem;
    top: 2rem;
    right: -0.68rem;
    z-index: 2;
}
.p8-6{
	width: 2.6rem;
	height: 2.57rem;
    top: 3rem;
    left: -2.5rem;
}
@-webkit-keyframes p81{from{left: 5.8rem;top: 4rem;}to{left: 2.24rem;top: 1.68rem;}}
@-webkit-keyframes p82{from{left: -1rem;top: 0.28rem;}to{left: 0.74rem;top: 1.53rem;}}
@-webkit-keyframes p83{from{left: -1rem;top: 0.3rem;}to{left: 0rem;top: 1.61rem;}}
@-webkit-keyframes p84{from{right: -1rem;top: -0.5rem;}to{right: 0.03rem;top: 0.3rem;}}
@-webkit-keyframes p85{from{right: -0.68rem;top: 2rem;}to{right: 0.7rem;top: 3.26rem;}}
@-webkit-keyframes p86{from{left: -2.5rem;top: 3rem;}to{left: 4.47rem;top: 1.47em;}}
.p8-7{
	position: absolute;
	top: 2.46rem;
    width: 3rem;
    height: 0.5rem;
    z-index: 10;
    left: 2.22rem;
}
.p8-8{
	position: absolute;
	width: 4.32rem;
	height: 1.27rem;
	top: 4.48rem;
	left: 1.61rem;
}
.p8-9{
	position: absolute;
	width: 4.3rem;
	height: 1.73rem;
	top:6.55rem;
	left: 1.73rem;
}
.p8-10{
	position: absolute;
	bottom: 2rem;
    width: 1.63rem;
    height: 1.57rem;
    left: 0.7rem;
}
.p8-11{
	position: absolute;
	bottom:2.31rem;
    width: 1.6rem;
    height: 1.44rem;
  	right:0.86rem;
}
.p8-12{
	position: absolute;
	bottom: 1.63rem;
    width: 1.64rem;
    height: 2.05rem;
    left: 2.83rem;
}
/*--------p9----------*/
.slide_9{
	background: url(../img/p2_bc.png);
	background-size:cover;
	position: relative;
}
.p9-1{
	position: absolute;
	width: 7.11rem;
	height: 4.14rem;
	top:0.9rem;
	left: 0.4rem;
}
.p9-2{
	position: absolute;
	width: 4.66rem;
	height: 0.83rem;
	left: 1.4rem;
	top:4.7rem;
}
.p9-3{
	position: absolute;
	width: 2.46rem;
	height:1.8rem;
    top: 8.5rem;
    left: 2.7rem;
}
.p9-4{
	position: absolute;
	top: 8.9rem;
    width: 1.3rem;
    left: 3.2rem;
}
.p9-5{
	position: absolute;
	bottom: 1rem;
    width: 4.5rem;
    height: 1.87rem;
    left: 1.59rem;

}
.p9-6{
	position: absolute;
	/*top: 0.8rem;*/
	right:0.2rem;
    width: 1.2rem;
    height: 0.59rem;
    -webkit-animation: p9 0.8s linear infinite;
}
@-webkit-keyframes p9{
	0%{ top:0.9rem; }
	100%{ top:0.5rem; }
}

.slide_9_name,.slide_9_num{
	position: absolute;
	left: 19%;
	top: 47%;
	color: #fff;
	font-size: 14px;
	clear: both;
}
.slide_9_name{
	top: 54%;
}
.slide_9_name span,.slide_9_num span,.slide_9_num input,.slide_9_name input{
	float:left;
}
.slide_9_name span,.slide_9_num span{
	margin: 0.2rem 0.2rem 0 0;
}
.slide_9_name input,.slide_9_num input{
	display: block;
	background: none;
	width: 65%;
	height:0.7rem;
	border-radius: 0.2rem;
}
